@*@using ShopQuanAo.Models.ViewFolder;
*@
@model IEnumerable< Product>
<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
       @* <div class="col-lg-3 col-md-4">
            <!-- Price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by price</span></h5>
            <div class="bg-light p-4 mb-30">
                <form id="price-fliter-from">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="all" checked id="price-all">
                        <label class="custom-control-label" for="price-all">All Price</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="0-100" id="price-1">
                        <label class="custom-control-label" for="price-1">$0 - $100</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="100-200" id="price-2">
                        <label class="custom-control-label" for="price-2">$100 - $200</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input"val="200-300" id="price-3">
                        <label class="custom-control-label" for="price-3">$200 - $300</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="300-400" id="price-4">
                        <label class="custom-control-label" for="price-4">$300 - $400</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" val="400-500" id="price-5">
                        <label class="custom-control-label" for="price-5">$400 - $500</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div>
            <!-- Price End -->
            <!-- Color Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by color</span></h5>
            <div class="bg-light p-4 mb-30">
                <form id="color-fliter-from">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="all" checked id="color-all">
                        <label class="custom-control-label" for="color-all">All Color</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="black" id="color-1">
                        <label class="custom-control-label" for="color-1">Black</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-cenfter justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input"val="white" id="color-2">
                        <label class="custom-control-label" for="color-2">White</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input"val="red" id="color-3">
                        <label class="custom-control-label" for="color-3">Red</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="blue"id="color-4">
                        <label class="custom-control-label" for="color-4">Blue</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" val="green" id="color-5">
                        <label class="custom-control-label" for="color-5">Green</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>
                </form>
            </div>
            <!-- Color End -->
            <!-- Size Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Filter by size</span></h5>
            <div class="bg-light p-4 mb-30">
                <form id="size-fliter-from">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="all" checked id="size-all">
                        <label class="custom-control-label" for="size-all">All Size</label>
                        <span class="badge border font-weight-normal">1000</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="XS" id="size-1">
                        <label class="custom-control-label" for="size-1">XS</label>
                        <span class="badge border font-weight-normal">150</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="S" id="size-2">
                        <label class="custom-control-label" for="size-2">S</label>
                        <span class="badge border font-weight-normal">295</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="M" id="size-3">
                        <label class="custom-control-label" for="size-3">M</label>
                        <span class="badge border font-weight-normal">246</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" val="L" id="size-4">
                        <label class="custom-control-label" for="size-4">L</label>
                        <span class="badge border font-weight-normal">145</span>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between">
                        <input type="checkbox" class="custom-control-input" val="XL" id="size-5">
                        <label class="custom-control-label" for="size-5">XL</label>
                        <span class="badge border font-weight-normal">168</span>
                    </div>

                </form>
            </div>
            <a id="fliter" class="fa fa-search">Filter</a>

            <!-- Size End -->
        </div>*@
        <!-- Shop Sidebar End -->
        <!-- Shop Product Start -->
        <div class="col-lg-12 col-md-8">
            <div class="row pb-3">

              
               @* <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Latest</a>
                                    <a class="dropdown-item" href="#">Popularity</a>
                                    <a class="dropdown-item" href="#">Best Rating</a>
                                </div>
                            </div>
                            <div class="btn-group ml-2">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">10</a>
                                    <a class="dropdown-item" href="#">20</a>
                                    <a class="dropdown-item" href="#">30</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@


                @foreach (var item in Model)
                {
                    <partial name="_Product" model="item" />

                    
                }
              
               @* <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            @if(Model.PagingInfo.CurrentPage>1)
                            {
                                <li class="page-item"><a class="page-link" href="/Products/?ProductPage=@(Model.PagingInfo.CurrentPage-1)">Previous</a></li>

                            }
                            @for(int i=1;i<=Model.PagingInfo.TotalPages;i++)
                            {
                                <li class="page-item"><a class="page-link" href="/Products/?ProductPage=@i">@i</a></li>

                            }
                            @if (Model.PagingInfo.CurrentPage != Model.PagingInfo.TotalPages)
                            {
                                <li class="page-item"><a class="page-link" href="/Products/?ProductPage=@(Model.PagingInfo.CurrentPage+1)">Next</a></li>
                            }
                        </ul>
                    </nav>
                </div>*@
            </div>
        </div>
        <!-- Shop Product End -->
    </div>

</div>

@*<script>
   //document.getElementById("fliter").addEventListener("click", function() {
   //    alert("Button clicked!");
   // });
    document.getElementById("fliter").addEventListener("click",function(){
        //alert("hola");
        var priceRange = GetSelectedCheckBox("price-fliter-from");
        var color = GetSelectedCheckBox("color-fliter-from");
        var size=GetSelectedCheckBox("size-fliter-from");
        var data={
            PriceRange:priceRange,
            Color:color,
            Size:size
        }
        fetch("/Products/GetFilterdProducts",
        {
            method:"POST",
            headers:{
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(function(response){
            if(response.ok)
            {
                return response.text();
            }
            else{
                throw new Error("Error sending data to the controller");
            }

        }).then(function(result){
            $("#filtered-products").html(result)
                var totalitems = document.queryselectorall(".col-lg-4");
                var pagesize=9;
                var totalpages=math.ceil(totalitems.length/pagesize);
                const div=document.createelement("div");
                div.classlist.add("col-12");
                const nav=document.createelement("nav");
                div.classlist.add("col-12");
                const ul = document.createelement("ul");
                ul.classlist.add("pagination", "justify-content-center");
                for(var i=1;i<=totalpages;i++)
                {
                   const li = document.createelement("li");
                    li.classlist.add("page-item");
                     const a = document.createelement("a");
                    a.classlist.add("page-link");
                    a
                }


        }).catch(function(error){
            console.log("An error occured: ",error);
        });

    });
    function GetSelectedCheckBox(formId) {

        var checkboxes = $('#' + formId + ' input[type="checkbox"]:checked');
        var values = []
        checkboxes.each(function () {
            values.push($(this).attr('val'))
        });
        return values;


    }

</script>
<!-- Shop End -->
<script>
//    document.getElementById("a").addEventListener("dblclick", function() {
//        alert("Button !");
//    });
//    document.getElementById("myButton").addEventListener("dblclick", function () {
//        alert("you hit me!");

//    })
    
//});
</script>*@
    
    

